<h2>Welcome, <%= current_user.email %></h2>

<ul>Would you like to...
	<p></p>
	<li><%= link_to "Add A Haunt", new_haunt_path %> </li>
	<li><%= link_to "See All The Haunts", haunts_path %> </li>
</ul>
