
<div class="container-fluid">
<h3>Welcome, <%= current_user.email %></h3>

<ul>Would you like to...<br style = “line-height:100px;”></br>
	
	<%= link_to "Add A Haunt", new_haunt_path, :class => "btn btn-primary btn-sm" %><br style = “line-height:100px;”></br>
	<%= link_to "See All The Haunts", haunts_path, :class => "btn btn-primary btn-sm"%></p>
</ul>

